{% load static %}

<!-- In the body of the HTML page add this and continue adding all Fields. I have provided three example below -->
<h1 class='automobiles'> auto_view</h1>
   
 
        <table border="7">
            <thead>
                <th style="text-transform: capitalize">name</th>
                <th>date</th>
                <th>email</th>
                <th>contact</th>
                <th>credit_card</th>
                <th>price</th>
                <th>upload</th>
                <th>Action</th>
                

            </thead>
            {% for k in data  %}
            <tr>
                <td>{{k.name}}</td>
                <td>{{k.date}}</td>
                <td>{{k.email}}</td>
                <td>{{k.contact}}</td>
                <td>{{k.credit_card}}</td>
                <td>{{k.price}}</td>
                <td>{{k.upload}}</td>
                <td><a href="/phn/{{k.id}}/delete/">Delete</a> <a href="/phn/{{k.id}}/update/">update</a></td>
                
            </tr>
            {% endfor %}
        </table>
        